@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --corner-rounding: 4px;

    --background-color: rgba(49, 45, 29, 0.6);
    --accent-color: 133, 73, 197;
    --highlight-color: 238, 181, 26;
    /*--dark-color: 65, 65, 65;*/
    /*--darker-color: 0, 15, 38;*/
    --dark-color: 45, 49, 66;
    --darker-color: 28, 29, 34;
    --text-color: 255, 240, 240;

    --primary-dark-gradient: linear-gradient(180deg, rgba(var(--dark-color), 0.8) 0%, rgba(var(--darker-color), 0.9) 100%);
    --primary-gradient: linear-gradient(180deg, rgba(var(--accent-color), 0.2) 0%, rgba(var(--accent-color), 0.7) 100%);

    --primary-animation-time: 0.3s;
    --primary-animation-timing-function: ease;

    --fade-delay: 4s;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Prompt', -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-color);
    background-color: rgba(var(--dark-color));
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


#threeCanvas {
    position: absolute;
    left: 0;
    top: 0;
}

/* -- Scrollbar -- */

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: var(--corner-rounding);
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.settings-wrapper {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 220px;
}

.settings-wrapper > * {
    margin-top: 10px;
}

/* -- weapon selection -- */

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    padding: 10px 42px 10px 14px;

    border-radius: var(--corner-rounding);

    background: linear-gradient(
            180deg,
            rgba(var(--dark-color), 0.85),
            rgba(var(--darker-color), 0.95)
    );

    color: rgb(var(--text-color));
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    outline: none;

}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 220px;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    padding: 10px 38px 10px 14px;

    border-radius: var(--corner-rounding);

    border: none;

    background: linear-gradient(
            180deg,
            rgb(var(--dark-color)),
            rgb(var(--darker-color))
    );

    color: rgb(var(--text-color));
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    outline: none;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid rgba(var(--text-color), 0.7);

    pointer-events: none;
}

select option {
    background-color: rgb(var(--darker-color));
    color: rgb(var(--text-color));
}

select option:checked {
    background-color: rgb(var(--dark-color));
}

#textureDropZone {
    box-sizing: border-box;
    color: rgb(var(--text-color));
    width: 220px;
    height: 220px;
    padding: 10px 14px 10px 14px;
    border-radius: var(--corner-rounding);
    background: linear-gradient(
        180deg,
        rgb(var(--dark-color)),
        rgb(var(--darker-color))
    );
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-size: cover;
    image-rendering: pixelated;
}

#textureDropZone.has-image span {
    color: transparent;
}

#textureDropZone::after {
    content: "uTexture0";
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 10px;
}

#textureDropZone input {
    display: none;
}